body {
  background: #0989a7;
  font-family: Helvetica;
  margin: 0;
}
#introTitle, #askTalkback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  line-height: 10px;
  text-shadow: 2px 2px 4px #0000009c;
  width: 100%;
}

#introTitle h1 {
    font-size: 40px;
}
#introTitle h2 {
    font-size: 30px;
}

#askTalkback h1 {
    font-size: 27px;
}

.btn-div {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.btn-talkback {
    font-size: 20px;
    padding: 15px 0;
    width: 41%;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.46);
    font-weight: bold;
}

.yes {
    background: #4dabc1;
    color: #f0f0f0;
}

.no {
    background: #dddddd;
    color: #4dabc1;
}

.btn-talkback:hover {
    position:relative;
    box-shadow: none;
    cursor: pointer;
    top: 4px;
}

.btn-div-auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-auth {
    width: 270px;
    padding: 15px 0;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.46);
    font-size: 16px;
}

.btn-auth:hover {
    position:relative;
    box-shadow: none;
    cursor: pointer;
    top: 4px;
}

.back-btn {
    margin: 20px;
}

.back-btn a {
    text-decoration: none;
    font-weight: bold;
    color: #0989a7;
    font-size: 20px;
}

.cb a {
    color: #0989a7;
}

.cb a:hover {color: #4dabc1; text-decoration: underline;}
.back-btn a:hover {color: #4dabc1; text-decoration: underline;}

.isi-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.isi-form input {
    box-sizing: border-box;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
}

.cb {
    display: flex;
    align-items: center;
    font-size: 15px ;
    margin-top: 10px;
}

.cb label {
    margin-top: -6px;
}

.isi-form input.cb-btn {
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

.isi-form button {
    background: #0989a7;
    border: none;
    padding: 14px;
    width: 75%;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.46);
}

.isi-form button:hover {
    position:relative;
    box-shadow: none;
    cursor: pointer;
    top: 1px;
    background: #4dabc1;
}

main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100vh + 250px);
}

.card {
    box-sizing: border-box;
    border-radius: 8px;
    background: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.46);
    margin-bottom: 30px;
}

.card:hover {
    scale: 1.05;
    transition: .4s;
}

.beranda-head {
    display: flex;
    flex-direction: column;
}

.user-prof {
    display: flex;
    align-items: center;
}

.user-prof img {
    width: 60px;
    border-radius: 100%;
}

.user-prof p {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.fg-search input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #ececec;
    border: none;
    border-radius: 8px;
}

.welc {
    box-sizing: border-box;
    background: #0989a7;
    color: white;
    text-align: left;
    padding: 5px 25px;
    line-height: 25px;
}

.items {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
}

.items .card {
    margin: 10px auto;
    width: 93%;
    padding: 0;
}

.gambar img {
    width: 100%;
    border-radius:8px 8px 0 0 ;
}

.teks {
    padding: 3px 0;
}

footer {
    height: 10%;
    position: fixed;
    bottom: 0;
    background: #fff;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
}

.ikon {
    box-sizing: border-box;
    line-height: 3px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.ikon img {
    width: 35px;
    padding-top: 5px;
}

.ikon p {
    font-size: 15px;
}

.ikon:hover {
    background: #e4e4e4;
}